@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Press Start 2P', cursive;
  background-color: #1a202c; /* Dark background for the whole page */
  color: #e2e8f0; /* Light text color */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  overflow: hidden; /* Prevent body scroll */
}

/* Custom scrollbar for instructions */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #333;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
